<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">
  <meta name="ap-local-base-url" content="{{localBaseUrl}}">
  {{#if authState}}
  <meta name="ap-auth-state" content="{{authState}}">
  {{/if}}
  {{#if pageTitle}}
  <title>{{pageTitle}}</title>
  {{/if}}
  {{{head}}}
  {{#each stylesheetUrls}}
  <link rel="stylesheet" href="{{this}}">
  {{/each}}
  <script src="{{hostScriptUrl}}" data-options="{{clientOptions}}"></script>
  <!--  This intialization is no longer required, but kept around for older systems. -->
  <script>if (!window.AP) RA.init();</script>
</head>
<body>
  {{{body}}}
  {{{tail}}}
  {{#if bigPipeActivated}}
  <script>
    if (window.AP) {
      AP.BigPipe.start({
        requestId: "{{bigPipeRequestId}}",
        ready: {{{bigPipeReadyContents}}}
      });
    }
  </script>
  {{/if}}
  {{#each scriptUrls}}
  <script src="{{this}}"></script>
  {{/each}}
</body>
</html>
