<link rel="stylesheet" href="{{hostBaseResourceUrl}}/aui/{{aui}}/css/aui-all.css" media="all">
<!--[if lt IE 9]><link rel="stylesheet" href="{{hostBaseResourceUrl}}/aui/{{aui}}/css/aui-ie.css" media="all"><![endif]-->
<!--[if IE 9]><link rel="stylesheet" href="{{hostBaseResourceUrl}}/aui/{{aui}}/css/aui-ie9.css" media="all"><![endif]-->
